<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="nHibernateConfigFile" value="/nhibernate.config" />
  </appSettings>
  <connectionStrings>
    <add name="TestDB" connectionString="MultipleActiveResultSets=true; Data Source=.;Initial Catalog=TNGames;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error/UnderConstruction.aspx" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="~/Error/AccessDenied.aspx" />
      <error statusCode="404" redirect="~/Error/error-not-found.aspx" />
      <error statusCode="500" redirect="~/Error/InternalError.aspx" />
    </customErrors>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit" />
      </assemblies>
    </compilation>

    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/dang-nhap" timeout="2880" />
    </authentication>

    <pages validateRequest="false" clientIDMode="Static">
      <controls>
        <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="pager" assembly="TNGames.Controls" namespace="TNGames.Controls" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="Check.ashx" type="TNGames.Controls.Check, TNGames" validate="false"/>
      <add verb="GET,HEAD" path="Captcha.ashx" type="TNGames.Controls.Captcha, TNGames" validate="false"/>
    </httpHandlers>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <handlers>
      <remove name="Check"/>
      <add name="Check" verb="*" path="Check.ashx" type="TNGames.Controls.Check, TNGames"/>
      <add name="Captcha" verb="*" path="Captcha.ashx" type="TNGames.Controls.Captcha, TNGames"/>
    </handlers>

    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
